<!DOCTYPE HTML>
<html>

<head>
<link href="{{ url_for('static',filename='jquery/jquery-ui.min.css') }}" rel="stylesheet" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
<script type = "text/javascript" src = "{{ url_for('static',filename='canvasjs.min.js') }}" >  </script>
<script type = "text/javascript" src = "{{ url_for('static',filename='jquery.canvasjs.min.js') }}" >  </script>
<script type="text/javascript">
$(document).ready(function(){
  var ask;
  function getData() {
      var url = "http://query.yahooapis.com/v1/public/yql";
      var symbol = "{{ sym }}";
      var data = encodeURIComponent("select * from yahoo.finance.quotes where symbol in ('" + symbol + "')");

      $.getJSON(url, 'q=' + data + "&format=json&diagnostics=true&env=http://datatables.org/alltables.env")
          .done(function (data) {
            ask = data.query.results.quote.Ask;
            $("#Ask").text(data.query.results.quote.Ask);
            $("#Change").text(data.query.results.quote.Change);
            $("#Open").text(data.query.results.quote.Open);
            $("#PreviousClose").text(data.query.results.quote.PreviousClose);
            $("#FiftydayMovingAverage").text(data.query.results.quote.FiftydayMovingAverage);
            $("#PercentChangeFromFiftydayMovingAverage").text(data.query.results.quote.PercentChangeFromFiftydayMovingAverage);
            $("#TwoHundreddayMovingAverage").text(data.query.results.quote.TwoHundreddayMovingAverage);
            $("#PercentChangeFromTwoHundreddayMovingAverage").text(data.query.results.quote.PercentChangeFromTwoHundreddayMovingAverage);
            $("#DaysLow").text(data.query.results.quote.DaysLow);
            $("#DaysHigh").text(data.query.results.quote.DaysHigh);
            $("#YearLow").text(data.query.results.quote.YearLow);
            $("#YearHigh").text(data.query.results.quote.YearHigh);
            $("#EarningsShare").text(data.query.results.quote.EarningsShare);
            $("#EPSEstimateNextQuarter").text(data.query.results.quote.EPSEstimateNextQuarter);
            $("#EPSEstimateCurrentYear").text(data.query.results.quote.EPSEstimateCurrentYear);
            $("#EPSEstimateNextYear").text(data.query.results.quote.EPSEstimateNextYear);

          })
          .fail(function (jqxhr, textStatus, error) {
          var err = textStatus + ", " + error;
              $("#result").text('Request failed: ' + err);
      });
  }
  getData();

  window.onload = function () {
    var dataPoints = [{ y : {{ quote }} }, { y : {{ quote }} }];
    var chart = new CanvasJS.Chart("chartContainer", {
        title : {
          text : "{{ com_name }}"
        },
        data : [{
            type : "spline",
            dataPoints : dataPoints,
            margin: 30
          }
        ],
        axisY:{
         includeZero: false,
         margin: 30
       },
       axisX:{
         viewportMinimum: -1
       }
      });

    chart.render();

    var updateCount = 0;
    var updateChart = function () {
      updateCount++;
      getData();
      console.log(ask);

      dataPoints.push({
        y : parseFloat(ask)
      });


      // chart.options.title.text = "Update " + updateCount;

      move_x = 1;
      if (updateCount > 30) {
        chart.options.axisX.viewportMinimum = chart.options.axisX.viewportMinimum + move_x;
        move_x++;
      }
      chart.render();

     };

    // update chart every second
    setInterval(function(){updateChart()}, 1500);
  }

  $(function () {
    var dataPoints = [{ y : {{ quote }} }, { y : {{ quote }} }];

  	//Better to construct options first and then pass it as a parameter
  	var options1 = {
        title : {
          text : "{{ com_name }}"
        },
        data : [{
            type : "spline",
            dataPoints : dataPoints,
            margin: 30
          }
        ],
        axisY:{
         includeZero: false,
         margin: 30
       },
       axisX:{
         viewportMinimum: -1
       }
      };

  	var options2 = {
  		title: {
  			text: "Spline Area Chart using jQuery Plugin"
  		},
  		data: [
  		{
  			type: "splineArea", //change it to line, area, bar, pie, etc
  			dataPoints: [
  				{ y: 10 },
  				{ y: 6 },
  				{ y: 14 },
  				{ y: 12 },
  				{ y: 19 },
  				{ y: 14 },
  				{ y: 26 },
  				{ y: 10 },
  				{ y: 22 }
  			]
  		}
  		],
        axisX: {
          labelFontSize: 14
        },
         axisY: {
          labelFontSize: 14
        }
  	};

  	$("#tabs").tabs({
  		create: function (event, ui) {
  			//Render Charts after tabs have been created.
  			$("#chartContainer1").CanvasJSChart(options1);
  			$("#chartContainer2").CanvasJSChart(options2);
  		},
  		activate: function (event, ui) {
  			//Updates the chart to its container's size if it has changed.
  			ui.newPanel.children().first().CanvasJSChart().render();
  		}
  	});

  });

});
</script>
</head>
<body>
<div id="tabs" style="height: 290px">
	<ul>
		<li ><a href="#tabs-1" style="font-size: 12px">Spline</a></li>
		<li ><a href="#tabs-2"  style="font-size: 12px">Spline Area</a></li>
	</ul>
	<div id="tabs-1" style="height: 225px">
		<div id="chartContainer1" style="height: 240px; width: 100%;"></div>
	</div>
	<div id="tabs-2" style="height: 225px">
		<div id="chartContainer2" style="height: 240px; width: 100%;"></div>
	</div>
</div>
</body>

</html>
